<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-toolbar color="primary" class="btn100" >
      <span>Menu</span>
    </mat-toolbar>
    <button type="button" class="btn100" mat-button (click)="navigate('/')">
      Home<mat-icon>home</mat-icon>
    </button>
    <button type="button" class="btn100" mat-button (click)="navigate('/listar')">
      Listar<mat-icon>list</mat-icon>
    </button>
    <button type="button" class="btn100" mat-button (click)="navigate('/editar/0')">
      Novo<mat-icon>edit</mat-icon>
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p>
      <mat-toolbar color="primary">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
    </p>
    
    <router-outlet />
  </div>

</mat-drawer-container>